<div class="jumbotron">
    <h1>Чемпионы</h1>

    <p>
        В базе на данным момент: <%= championsCount %> чемпионов
    </p>

    <form action="<%= sails.config.appUrl + 'admin/champion/fill' %>" method="post">
        <button type="submit" class="btn btn-primary btn-lg">Заполнить заново</button>
    </form>

</div>
<div class="jumbotron">
  <h1>Версии</h1>

  <p>
    В базе на данным момент: <%= versionsCount %> версий
  </p>

  <form action="<%= sails.config.appUrl + 'admin/patch/fill-versions' %>" method="post">
    <button type="submit" class="btn btn-primary btn-lg">Заполнить заново</button>
  </form>

</div>
