body.content {
  background-color: #f1f1f1;
}
/** Champions **/

.current .champions__search {
  margin-bottom: 20px;
}
.current .champion-block {
  margin-bottom: 10px;
}
.current .champion-block .champion-block__inner {
  padding: 5px;
  display: inline-block;
  text-align: center;
  /*border: 1px solid #ccc;*/
  /*background-color: #fff;*/
}
.current .champion-block .champion-block__inner > a {
  text-decoration: none;
  color: #101010;
}
/** /Champions/ **/

/** Items **/
.item-block {
  max-height : 93px;
  margin-bottom: 30px;
}
.current .items__search {
  margin-bottom: 30px;
}
.current .item-block {
  margin-bottom: 10px;
}
.current .item-block .item-block__inner {
  padding: 5px;
  display: inline-block;
  text-align: center;
}
.current .item-block .item-block__inner > a {
  text-decoration: none;
  color: #101010;
}
/** Items/ **/

/** Search **/
.search {
  margin-bottom: 30px;
}
/** Search/ **/

/** Current list **/
.current {
  text-align: center;

}
/** Current list **/
