<li>

  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
     aria-haspopup="true" aria-expanded="false">__('russian') <span class="caret"></span></a>

  <ul class="dropdown-menu">
    <li>
      <a href="?lang=ru"><%= __('russian') %></a>
    </li>
    <li>
      <a href="?lang=en"><%= __('english') %></a>
    </li>
  </ul>

</li>
